university {
    text-align: center;
    border: 2px solid black;
}
student{
    font-weight: bold;
    font-size: large;
}
enrollmentNumber{
    display: block;
}
dept{
    display: block;
}
phone{
    display: block;
}
mail{
    display: block;
}